@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

#preloader .loader {
  position: absolute;
  top: 45%;
  left: 45%;
}

.cubes {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 6rem;
  height: 6rem;
  transition: all 300ms ease-in-out 0s;
  z-index: 1;
}

.cubes .cube {
  width: 33%;
  height: 34%;
  background-color: white;
  animation: cubes 1.5s infinite ease-in-out;
}

.cubes .cube-1 {
  animation-delay: 0.2s;
}

.cubes .cube-2 {
  animation-delay: 0.3s;
}

.cubes .cube-3 {
  animation-delay: 0.4s;
}

.cubes .cube-4 {
  animation-delay: 0.1s;
}

.cubes .cube-5 {
  animation-delay: 0.2s;
}

.cubes .cube-6 {
  animation-delay: 0.3s;
}

.cubes .cube-7 {
  animation-delay: 0s;
}

.cubes .cube-8 {
  animation-delay: 0.1s;
}

.cubes .cube-9 {
  animation-delay: 0.2s;
}

@keyframes cubes {
  0%,
  70%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(0, 0, 1);
  }
}

.nav-outer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  z-index: 999;
}

.nav-outer-sticky.nav-outer {
  position: fixed;
  bottom: unset;
}

.nav-outer-sticky.nav-outer .nav-like {
  margin: 0 !important;
}

.nav-like {
  position: relative;
  margin: 1em;
}

.nav-like .container-fluid {
  max-width: 1900px;
}

.nav-like .navbar-brand img {
  width: 4rem;
}

.nav-like .nav-item {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 20px;
  transition: letter-spacing 0.6s ease-in-out;
}

.nav-like .nav-item:hover {
  letter-spacing: 3.5px;
}

.bg-text-outer {
  position: absolute;
  width: 100%;
  height: 0;
}

.bg-text-outer .bg-text {
  overflow: hidden;
  padding: 12em 0;
  padding-top: 0;
  top: -7em;
  position: relative;
  width: 100%;
  z-index: -99;
}

.bg-text-outer .bg-text::after {
  content: attr(data-bg-text);
  display: block;
  font-size: calc(5em + 20vw);
  line-height: 1;
  position: absolute;
  z-index: -99;
  opacity: 0.05;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.intro .intro-inner {
  text-transform: capitalize;
}

.About-me {
  margin-top: 30em;
}

.About-me .bg-text {
  top: -12.5em;
  padding: 7em 0;
}

@media only screen and (max-width: 767px) {
  .About-me .bg-text {
    top: -15em;
  }
}

.About-me .bg-text::after {
  font-size: calc(1em + 15vw);
}

.About-me h1 {
  text-transform: capitalize;
}

.About-me .timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

.About-me .timeline__content-title {
  font-weight: 500;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  color: lightgray;
}

.About-me .timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  line-height: 25px;
}

.About-me .timeline__content-desc .inner-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transition: color 0.5s;
}

.About-me .timeline__content-desc .inner-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.About-me .timeline__content .ext-word-space {
  word-spacing: 20px;
}

.About-me .timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
  .About-me .timeline:before {
    left: 40px;
  }
}

.About-me .timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}

.About-me .timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 400;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.About-me .timeline-item:nth-child(even) {
  align-self: flex-end;
}

.About-me .timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.About-me .timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.About-me .timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}

.About-me .timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .About-me .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .About-me .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .About-me .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.About-me .timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.About-me .timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}

.About-me .timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}

.About-me .timeline-header {
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
}

.About-me .timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  margin: 0;
}

.About-me .timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.About-me .timeline-footer {
  padding: 60px 0;
  text-align: center;
}

.Projects {
  margin-top: 20em;
}

.Projects .bg-text {
  top: -14em;
  padding: 9em 0;
}

.Projects .bg-text::after {
  font-size: calc(1em + 15vw);
}

.Projects .card-new {
  float: center;
  padding: 1rem;
}

.Projects .card-new .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Projects .card-new .menu-content::before, .Projects .card-new .menu-content::after {
  content: "";
  display: table;
}

.Projects .card-new .menu-content::after {
  clear: both;
}

.Projects .card-new .menu-content li {
  display: inline-block;
}

.Projects .card-new .menu-content .menu-icon {
  color: lightgray;
}

.Projects .card-new .wrapper {
  background-color: white;
  height: 37em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.Projects .card-new .wrapper:hover .data {
  transform: translateY(0);
}

.Projects .card-new .data {
  position: absolute;
  bottom: 0;
  background-color: #212529;
  color: lightgray;
  width: 100%;
  height: 100%;
  transform: translateY(370px);
  transition: transform 0.8s;
}

.Projects .card-new .data .content {
  padding: 1.5em;
  position: relative;
  z-index: 1;
}

.Projects .card-new .type {
  font-size: 12px;
}

.Projects .card-new .title {
  margin-top: 10px;
}

.Projects .example-4 .wrapper {
  background: 50% 50% / cover no-repeat;
}

.Projects .example-4 .date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #212529;
  color: lightgray;
  padding: 0.75rem;
}

.Projects .example-4 .date span {
  display: block;
  text-align: center;
}

.Projects .example-4 .title {
  color: lightgray;
}

.Projects .example-4 .menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
}

.Projects .example-4 .menu-content li {
  text-align: center;
  width: 3rem;
  background-color: #212529;
  height: 3rem;
  position: relative;
}

.Projects .example-4 .menu-content li:first-child {
  padding-top: 6px;
  height: 3.3rem;
}

.Projects .example-4 .menu-content .menu-icon {
  font-size: 24px;
}

.Projects .made-by a {
  text-decoration: none;
  color: lightgray;
  cursor: default;
}

.Projects .made-by a p {
  position: relative;
  opacity: 0;
  transition: opacity 0.6s, top 0.6s;
  top: -1em;
  font-size: medium;
}

.Projects .made-by a:hover p {
  opacity: 1;
  top: 0;
}

.Projects .made-by.btn i {
  margin-right: 1em;
}

.Contact {
  background-color: #434b52;
  margin-top: 19em;
  padding: 7.5em 0 5em 0;
}

.Contact .bg-text-outer .bg-text {
  top: -8em;
  padding: 7em 0;
  padding-top: 0;
  z-index: 1;
}

.Contact .bg-text-outer .bg-text::after {
  font-size: calc(1em + 15vw);
}

.Contact .img-outer {
  width: 100%;
  height: 8em;
}

.Contact .img-outer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Contact p a {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.Contact p a::after {
  content: " ";
  border-bottom: lightgray 1px solid;
  width: 50%;
  display: block;
  margin: 0.3em auto 0 auto;
  transition: width 0.5s ease-in-out;
}

.Contact p:hover a {
  color: white;
  opacity: 0.7;
}

.Contact p:hover a::after {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #3f474f;
  background-image: url(../img/background.svg);
}

a {
  color: white;
  text-decoration: none;
}

a:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
