@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

//Preloader
$loader-size: 6rem;
$animation-duration: 1.5s;

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
  .loader {
    position: absolute;
    top: 45%;
    left: 45%;
  }
}

.cubes {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: $loader-size;
  height: $loader-size;
  transition: all 300ms ease-in-out 0s;
  z-index: 1;

  .cube {
    width: 33%;
    height: 34%;
    background-color: white;
    animation: cubes $animation-duration infinite ease-in-out;

    &-1 {
      animation-delay: 0.2s;
    }

    &-2 {
      animation-delay: 0.3s;
    }

    &-3 {
      animation-delay: 0.4s;
    }

    &-4 {
      animation-delay: 0.1s;
    }

    &-5 {
      animation-delay: 0.2s;
    }

    &-6 {
      animation-delay: 0.3s;
    }

    &-7 {
      animation-delay: 0s;
    }

    &-8 {
      animation-delay: 0.1s;
    }

    &-9 {
      animation-delay: 0.2s;
    }
  }
}

@keyframes cubes {
  0%,
  70%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(0, 0, 1);
  }
}

//Navbar
.nav-outer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  z-index: 999;
}
.nav-outer-sticky.nav-outer {
  position: fixed;
  bottom: unset;

  .nav-like {
    margin: 0 !important;
  }
}
.nav-like {
  position: relative;
  margin: 1em;
  .container-fluid {
    max-width: 1900px;
  }

  .navbar-brand img {
    width: 4rem;
  }
  .nav-item {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 20px;
    transition: letter-spacing 0.6s ease-in-out;
    &:hover {
      letter-spacing: 3.5px;
    }
  }
}
//Home Header

.bg-text {
  overflow: hidden;
  padding: 50% 0%;
  padding-top: 0;
  top: 15%;
  position: absolute;
  width: 100%;
  z-index: -99;

  &::after {
    content: attr(data-bg-text);
    display: block;
    font-size: calc(5em + 20vw);
    line-height: 1;
    position: absolute;
    z-index: -99;
    opacity: 0.05;
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .intro-inner {
    text-transform: capitalize;
  }
}

//about me

.About-me {
  margin-top: 30em;
  .bg-text {
    top: 115%;

    &::after {
      font-size: calc(1em + 15vw);
    }
  }
  h1 {
    text-transform: capitalize;
  }
  // @import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
  // Responsive
  @mixin responsive() {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  $timeline-width: 700px;
  $timeline-container-width: 100%;
  .timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: $timeline-width;
    position: relative;
    &__content {
      &-title {
        font-weight: 500;
        font-size: 66px;
        margin: -10px 0 0 0;
        transition: 0.4s;
        padding: 0 10px;
        box-sizing: border-box;
        color: lightgray;
      }
      &-desc {
        margin: 0;
        font-size: 15px;
        box-sizing: border-box;
        color: rgba(#fff, 0.7);
        font-weight: 500;
        line-height: 25px;
        .inner-link {
          color: rgba(#fff, 0.9);
          text-decoration: none;
          transition: color 0.5s;
          &:hover {
            color: rgba(#fff, 0.5);
          }
        }
      }

      .ext-word-space {
        word-spacing: 20px;
      }
    }
    &:before {
      position: absolute;
      left: 50%;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      content: "";
      background: rgba(255, 255, 255, 0.07);
      @include responsive() {
        left: 40px;
      }
    }
    &-item {
      padding: 40px 0;
      opacity: 0.3;
      filter: blur(2px);
      transition: 0.5s;
      box-sizing: border-box;
      width: calc(50% - 40px);
      display: flex;
      position: relative;
      transform: translateY(-80px);
      &:before {
        content: attr(data-text);
        letter-spacing: 3px;
        width: 100%;
        position: absolute;
        color: rgba(#fff, 0.5);
        font-size: 13px;
        font-weight: 400;
        border-left: 2px solid rgba(#fff, 0.5);
        top: 70%;
        margin-top: -5px;
        padding-left: 15px;
        opacity: 0;
        right: calc(-100% - 56px);
      }
      &:nth-child(even) {
        align-self: flex-end;
        &:before {
          right: auto;
          text-align: right;
          left: calc(-100% - 56px);
          padding-left: 0;
          border-left: none;
          border-right: 2px solid rgba(#fff, 0.5);
          padding-right: 15px;
        }
      }
      &--active {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
        &:before {
          top: 50%;
          transition: 0.3s all 0.2s;
          opacity: 1;
        }
        .timeline__content-title {
          margin: -50px 0 20px 0;
        }
      }
      @include responsive() {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
        &:before {
          left: 10px !important;
          padding: 0 !important;
          top: 50px;
          text-align: center !important;
          width: 60px;
          border: none !important;
        }
        &:last-child {
          padding-bottom: 40px;
        }
      }
    }
    &__img {
      max-width: 100%;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    }
    &-container {
      width: $timeline-container-width;
      position: relative;
      padding: 80px 0;
      transition: 0.3s ease 0s;
      background-attachment: fixed;
      background-size: cover;
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(99, 99, 99, 0.8);
        content: "";
      }
    }
    &-header {
      text-transform: capitalize;
      width: 100%;
      margin-bottom: 80px;
      position: relative;
      padding-right: 2em;
      padding-left: 2em;
      &__title {
        color: #fff;
        font-size: 46px;
        font-weight: normal;
        margin: 0;
      }
      &__subtitle {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        letter-spacing: 5px;
        margin: 10px 0 0 0;
        font-weight: normal;
      }
    }
  }

  .timeline-footer {
    padding: 60px 0;
    text-align: center;
  }
}
//general
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #3f474f;
  background-image: url(../img/background.svg);
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
